- var btn_txts = ['macaroon', 'brownie', 'gingerbread'];
- var n = btn_txts.length;

h2 yummy pure CSS circular reveal

p.inf (click the twitter icon)

section.card
	header
		input(type='checkbox' id='show')
		nav
			while n--
				button #{btn_txts[n]}
		label(for='show') show
			.slider
				svg(viewBox='0 0 1584 1584')
					path(d='M1584 308q-67 98-162 167a915 915 0 0 1-1412 819q280 15 478-137-230-16-303-223 75 9 145-7-253-61-258-320 75 41 145 39-223-175-100-430 280 320 670 337a320 320 0 0 1 547-293q130-30 207-79-50 130-143 178 90-13 184-50')
				svg(viewBox='-4 -4 8 8')
					path(d='m-2-2 4 4m0-4-4 4')
	section.descr
		p Wafer plum macaroon pie lemon. Plum soufflé brownie. Biscuit toffee. Marzipan wafer cake brownie. Lemon ice cream. Cupcake chocolate bar. Liquorice cake wafer apple pie pudding lemon. Macaroon gingerbread apple pie. Wafer cake toffee donut pudding. Marzipan tart cake gingerbread. Cake dessert brownie. Ice cream cookie. Dessert liquorice plum soufflé.